/* CSS declarations go here */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: 24px;
	font-family: helvatica
}

ul.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.footer li {
	float: left;
	margin-right: 10px;
}

.center {
	margin-left: 0 auto;
	max-width: 1366px;
	min-width: 320px;
}

.center *{
	margin: 0 auto;
}

.center h1 {
	margin-bottom: 40px;
}

input, button {
	font-size: 24px;
}

.posts {
	margin: 0 auto;
	border-radius: 10px;
    border: 2px solid black;
    padding: 20px; 
	font-size: 24px;
	text-align: center;
	height: 400px;
	overflow: auto;
}

.manualMonitor:hover {
	cursor: pointer;
}

.rank {
	text-align: left
	width: 100%;
	border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}